
.contentListContainer {
  padding: 0px 100px;
}
.searchBar{
  margin-top: 40px;
}
.movieList {
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: nowrap !important; 
}

.slick-next{
  box-shadow: 0px 10px 30px 30px #201c1c;
  z-index: 20;
}
.slick-arrow{
  height: 100%;
}

.carouselMovieCard, .carouselMovieCard img{
  width: 200px !important;
}
.carouselMovieCard{
  padding: 0px 20px;
}
.carousel-control-prev {
  width: 2%;
}

.carousel-control-next {
  width: 2%;
}
.carousel-control-next-icon {
  width: 100px;
}

#carouselMovieList {
  justify-content: center;
}

.carousel-indicators {
  bottom: -20px;
}

.loadingButton {
  text-align: center;
  margin-top: 20px;
}
.title {
  font-size: 14px;
  font-weight: 500;
  color: #edf5e1;
}
.movieDescription {
  font-size: 13px;
}

.welcomeDiv {
  background-size: cover;
}

.welcomeMessage {
  padding-top: 110px;
  font-weight: 700;
  font-size: 30px;
  color: #e8c3aa;
}
.searchInput {
  width: 95%;

  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  height: 50px;
  border-radius: 20px;
  outline: none;
  color: #262a26;
  font-weight: 500;
}
